omegaconf~=2.3.0
torch~=2.3.0
tqdm~=4.66.4
einops~=0.8.0
vector-quantize-pytorch~=1.14.24
transformers~=4.41.1
vocos~=0.1.0
ipython==8.25.0
huggingface-hub~=0.23.2
gradio~=4.32.2
numpy~=1.26.4
python-dotenv~=1.0.1
modelscope==1.15.0
torchaudio==2.3.0
